@page "/"
@inject INoleggioRepository repoNoleggio
@inject IClienteRepository repoCliente
@inject IRisorsaRepository repoRisorsa
@inject IPeriodicitaRisorsaRepository repoRR

<link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">
<PageTitle>Home</PageTitle>

<h1 style="text-align: center; color:coral; margin-top: 200px; font-size: 300%;">NOLEGGIO</h1>
<h3 style="text-align: center; margin-top: 30px">Benvenuto, noleggia e visualizza il materiale a disposizione!</h3>


